<div class="container">
  <span id="stories">
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/img/img-col-left.png">
        <div id="story"><p>Here's Your Horoscope For Today<br>BY MECCA WOODS</p></div>
      </div>
      <div id="img-center" class="col-md-4">
        <img src="./assets/img/img-col-center.png">
        <div class="story"><p>This story About Rihanna Replacing All Of A Fan's Stolen Beauty Products Is So Pure<br> BY SHEA SIMMONS</p></div>
      </div>
      <div class="col-md-4">
        <img src="./assets/img/img-col-right.png">
        <div class="story"><p>7 Reasons It's OK To Not Be All Happy All The Time<br>BY SUZANNAH WEISS</p></div>
      </div>
    </div>
  </span>
</div>
<div id="books-banner" class="container-fluid">
  <img class="clickable" src="./assets/img/books-banner.png">
</div>
